{% extends 'BloggerBlogBundle::base.html.twig' %}

{% block body %}
	<h1>Login</h1>
	
	{{ error.message }}
	
	<form action ="{{ path('BloggerBlogBundle_check_path') }}"  method="post" class="blogger">
	<p>Email 		<input type="email" name="_username" value="{{ last_username }}" /></p>
	<p>Contraseña 	<input type="password" name="_password" /> </p>
	<br />
	<input type="submit" value="enviar" />
{% endblock%}